lab12/offer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="offer">
        <xs:complexType>
            <xs:sequence>

                <xs:element type="xs:byte" name="id" minOccurs ="1" maxOccurs ="1"/>
                <xs:element type="xs:double" name="price" minOccurs ="1" maxOccurs ="1"/>
                <xs:element name="equipment" minOccurs ="1" maxOccurs ="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="description"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="seller" minOccurs ="1" maxOccurs ="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="firstName"/>
                            <xs:element type="xs:string" name="lastName"/>
                            <xs:element name="address" minOccurs ="1" maxOccurs ="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="addressLine1"/>
                                        <xs:element type="xs:string" name="addressLine2"/>
                                        <xs:element type="xs:string" name="country"/>
                                        <xs:element type="xs:string" name="zip"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>